div(ng-controller="Component1Controller as ctrl1")
  h1.frontend-bootstrap-component-1
    | {{ 'COMPONENT_1_PHRASE' | translate }}
  a.btn.btn-info.title(ui-sref='auth.signUp')
    | {{ 'SIGN_UP_FORM.SIGN_UP' | translate }}
  br
  a.btn.btn-info.title(ui-sref='auth.signIn')
    | {{ 'SIGN_IN_FORM.SIGN_IN' | translate }}
