div(ng-controller="Component1Controller as ctrl1")
  h1.frontend-bootstrap-component-1
    {{ 'COMPONENT_1_PHRASE' | translate }}
  a(ui-sref='signUp.index')
    {{ 'SIGN_UP_FORM.SIGN_UP' | translate }}
