div
  h1
    | {{ 'CHANGE_PASSWORD_FORM.TITLE' | translate }}
  form.form-inline.title(name="changePasswordForm", ng-controller='ChangePasswordController as changePasswordCtrl', ng-submit='changePasswordCtrl.changePassword()', novalidate)
    .form-group.title
      label.control-label
        | {{ 'CHANGE_PASSWORD_FORM.NEW_PASSWORD' | translate }} * :
      input.form-control(ng-model='changePasswordCtrl.passwordForm.password', type='password', name='newPassword', title='NewPassword', ng-minlength="8", ng-maxlength="32", required)
      br
      span.error(ng-show='changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid')
        | {{ 'CHANGE_PASSWORD_FORM.ERROR.PASSWORD_LENGTH' | translate }}
    br
    .form-group.title
      label.control-label
        | {{ 'CHANGE_PASSWORD_FORM.CONFIRMATION_PASSWORD' | translate }} * :
      input.form-control(ng-model='changePasswordCtrl.passwordForm.confirmationPassword', type='password', name='confirmationPassword', title='ConfirmationPassword', ng-minlength="8", ng-maxlength="32", required)
      br
      span.error(ng-show='changePasswordForm.confirmationPassword.$touched && changePasswordForm.confirmationPassword.$invalid')
        | {{ 'CHANGE_PASSWORD_FORM.ERROR.PASSWORD_LENGTH' | translate }}
    .title
      input.btn.btn-success(type='submit', value="{{ 'SAVE' | translate }}", ng-disabled='changePasswordForm.$invalid')
